.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
coverage/**
code-trail/**
.gitignore
.prettierrc
.prettierignore
.yarnrc
*.vsix
esbuild.js
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
