.vscode/**
.vscode-test/**
out/**
node_modules/**
!node_modules/vis-network/standalone/umd/vis-network.min.js
src/**
coverage/**
code-trail
code-trail/**
.code-trail/**
.gitignore
.prettierrc
.prettierignore
.yarnrc
*.vsix
esbuild.js
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
